.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    grid-area: subtitle;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .profile__subtitle  { 
        text-align: end;
        font-size: 14px;
        line-height: 17px;
    }    
}