.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 682px) {
    .profile__title { 
        font-size: 27px;
    }    
}

@media screen and (max-width: 540px) {
    .profile__title { 
        text-align: end;
        margin-top: 5px;
        margin-left: 18px;
    }    
}