.popup__close {
    background-image: url('../../../images/CloseIcon.svg');
    position: absolute;
    top: -38px;
    background-color: black;
    width: 40.7px;
    height: 40.7px;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    right: -42px;
    outline: none;
    cursor: pointer;
    background-size: cover;
}

.popup__close:hover {
    opacity: 0.7;
    transition: 0.4s;
}

@media screen and (max-width: 582px) {
    .popup__close { 
        right: 0;
        top: -50px;
    }    
}

@media screen and (max-width: 461px) {
    .popup__close { 
        width: 26px;
        height: 26px; 
    }    
}