.profile__button-add {
    background-image: url('../../../images/Vector.png');
    width: 22px;
    height: 22px;
    padding: 22px 75px;
    background-color: black;
    background-repeat: no-repeat;
    margin-top: 75px;
    background-position: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.7;
    transition: .4s;
}

@media screen and (max-width: 890px) {
    .profile__button-add { 
        margin: 0 auto 30px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }    
}